<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        </head>
        <body>
            <div class="v2_19">
                <div class="v2_20"></div>
                <span class="v2_21">CompanyParkSharing</span>
                <span class="v2_33">My rating:</span>
                <span class="v2_41">Home</span>
                <div class="v2_23">
                    <div class="v2_24"></div>
                    <span class="v2_27">Book parking</span>
                </div>
                <div class="v2_34">
                    <div class="v2_35"></div>
                    <span class="v2_36">My booking</span>
                </div>
                <div class="v3_5">
                    <div class="v3_6"></div>
                    <span class="v3_7">Log out</span>
                </div>
                <div class="v2_28"></div>
                <span class="v2_29">Enter order date</span>
            </div>
            </body>
            </html> 
            <br/><br/> <style>* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_19 {
  width: 100%;
  height: 1024px;
  background: rgba(88,88,88,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_20 {
  width: 100%;
  height: 109px;
  background: rgba(255,184,78,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_21 {
  width: 330px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 105px;
  font-family: Inter;
  font-weight: Black;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v2_33 {
  width: 152px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 333px;
  font-family: Inter;
  font-weight: Black;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v2_41 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 676px;
  font-family: Inter;
  font-weight: Black;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v2_23 {
  width: 501px;
  height: 149px;
  background: url("../images/v2_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 389px;
  left: 470px;
  overflow: hidden;
}
.v2_24 {
  width: 501px;
  height: 149px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  overflow: hidden;
}
.v2_27 {
  width: 252px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 126px;
  font-family: Inter;
  font-weight: Black;
  font-size: 38px;
  opacity: 1;
  text-align: left;
}
.v2_34 {
  width: 388px;
  height: 69px;
  background: url("../images/v2_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 712px;
  left: 526px;
  overflow: hidden;
}
.v2_35 {
  width: 388px;
  height: 69px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  overflow: hidden;
}
.v2_36 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 83px;
  font-family: Inter;
  font-weight: Black;
  font-size: 38px;
  opacity: 1;
  text-align: left;
}
.v3_5 {
  width: 388px;
  height: 69px;
  background: url("../images/v3_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 811px;
  left: 526px;
  overflow: hidden;
}
.v3_6 {
  width: 388px;
  height: 69px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  overflow: hidden;
}
.v3_7 {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 125px;
  font-family: Inter;
  font-weight: Black;
  font-size: 38px;
  opacity: 1;
  text-align: left;
}
.v2_28 {
  width: 501px;
  height: 43px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 323px;
  left: 470px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v2_29 {
  width: 193px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 329px;
  left: 624px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
</style>